@model IEnumerable<HMS.Entities.Accommodation>

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('/images/img_bg_5.jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner slider-text-inner2 text-center">
                                <h2>Choose our Best</h2>
                                <h1>Rooms &amp; Suites</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-rooms" class="colorlib-light-grey">
    <div class="container">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                @foreach (var accommodation in Model)
                {
                    var backgroundImage = GetAccommodationPicture(accommodation);

                    <div class="col-md-4 room-wrap animate-box">
                        <a href="@backgroundImage"
                           class="room image-popup-link"
                           style="background-image: url('@backgroundImage');">
                        </a>

                        <div class="desc text-center">
                            <span class="rate-star">
                                <i class="icon-star-full full"></i>
                                <i class="icon-star-full full"></i>
                                <i class="icon-star-full full"></i>
                                <i class="icon-star-full"></i>
                                <i class="icon-star-full"></i>
                            </span>

                            <h3>
                                @accommodation.Name
                            </h3>

                            <p class="price">
                                <span class="currency">zł</span>
                                <span class="price-room">
                                    @accommodation.AccommodationPackage?.FeePerNight.ToString("F2")
                                </span>
                                <span class="per">/ za dobę</span>
                            </p>

                            <ul>
                                <li>
                                    
                                    <i class="icon-check"></i>
                                    Rooms: @accommodation.AccommodationPackage?.NoofRoom
                                </li>
                            </ul>

                            <p>
                                <a class="btn btn-primary btn-book"
                                   href="@Url.Action("DetailsAccommodation", "Accomodations",
        new { id = accommodation.ID })">
                                    Szczegóły
                                </a>

                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-xs-12">
                    <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
                        No accommodations found.
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@functions {
    private string GetAccommodationPicture(HMS.Entities.Accommodation accommodation)
    {
        var firstPic = accommodation?.AccommodationPictures?.FirstOrDefault();
        if (firstPic?.Picture != null)
        {
            return "/images/site/" + firstPic.Picture.URL;
        }

        return "/images/room-1.jpg";
    }
}
