@model Hotel.ViewModels.AccommodationPackageDetailsViewModel

@{
    // Pobranie pierwszego (miniatury) obrazka, lub default jeśli brak
    var thumbnailPicture = Model.AccommodationPackage.AccomodationPackagePictures != null
        ? Model.AccommodationPackage.AccomodationPackagePictures.FirstOrDefault()
        : null;

    var thumbnailURL = thumbnailPicture != null
        ? thumbnailPicture.Picture.URL
        : "default-image.jpg";
}

<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url('/images/site/@thumbnailURL');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner slider-text-inner2 text-center">
                                <h2>Accommodation Package</h2>
                                <h1>@Model.AccommodationPackage.Name</h1>
                                <h2>@Model.AccommodationPackage.AccommodationType.Name</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="colorlib-amenities">
    <div class="container">
        <div class="row">
            <div class="amenities-flex">
                <div class="desc animate-box">
                    <p class="price">
                        <span class="currency">$</span>
                        <span class="price-room">
                            @Model.AccommodationPackage.FeePerNight
                        </span>
                        <span class="per">/ per night</span>
                    </p>
                    <strong>Rooms: @Model.AccommodationPackage.NoofRoom</strong>
                    <p>
                        @Model.AccommodationPackage.AccommodationType.Description
                    </p>
                </div>

                <div class="amenities-img animate-box"
                     style="height:400px; background-image: url('/images/site/@thumbnailURL');">
                </div>

                @if (Model.AccommodationPackage.AccomodationPackagePictures != null
                && Model.AccommodationPackage.AccomodationPackagePictures.Count > 0)
                {
                    // Wyświetlamy pozostałe zdjęcia (inne niż miniatura)
                    foreach (var picture in Model.AccommodationPackage
                    .AccomodationPackagePictures
                    .Where(x => x != thumbnailPicture))
                    {
                        <div class="amenities-img animate-box"
                             style="height:400px;
                                    background-image: url('/images/site/@picture.Picture.URL');">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Confirm Booking</h3>
            </div>
            <div class="col-md-10 col-md-offset-1 animate-box">
                <h3>Get In Touch</h3>

                <form action="#" id="frmConfirmBooking">
                    <!-- ID pakietu w hidden -->
                    <input type="hidden" name="AccommodationPackageID" value="@Model.AccommodationPackage.ID" />

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="FromDate">Check In Date</label>
                            <input type="text" id="FromDate" name="FromDate"
                                   class="form-control"
                                   placeholder="Check In Date"
                                   autocomplete="off" />
                        </div>
                        <div class="col-md-6">
                            <label for="Duration">Duration of Stay (Nights)</label>
                            <select id="Duration" name="Duration" class="form-control">
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="NoOfAdults">No of Adults</label>
                            <input type="number" id="NoOfAdults" name="NoOfAdults"
                                   class="form-control"
                                   value="1" min="1" max="10" />
                        </div>
                        <div class="col-md-6">
                            <label for="NoOfChildren">No of Children</label>
                            <input type="number" id="NoOfChildren" name="NoOfChildren"
                                   class="form-control"
                                   value="0" min="0" max="10" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-6">
                            <label for="Name">Guest Name</label>
                            <input type="text" id="Name" name="Name" class="form-control" placeholder="Guest Name" />
                        </div>
                        <div class="col-md-6">
                            <label for="Email">Email</label>
                            <input type="text" id="Email" name="Email" class="form-control" placeholder="Your email address" />
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="Notes">Add Special Notes</label>
                            <textarea name="Notes" id="Notes" cols="30" rows="10" class="form-control"
                                      placeholder="Add Special Notes"></textarea>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <input type="button" id="btnCheckAvailability" value="Check Availability" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Skrypt do obsługi datapicker i sprawdzenia dostępności -->
<script>
    // Datepicker
    $('#FromDate').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '+3d'
    });

    // Kliknięcie "Check Availability"
    $('#btnCheckAvailability').click(function () {
        $.ajax({
            url: '@Url.Action("CheckAvailability", "Accommodations")',
            data: $("#frmConfirmBooking").serialize()
        })
        .done(function (response) {
            // Wyświetlenie odpowiedzi w modalu "actionModal"
            $("#actionModal .modal-dialog").html(response);
            $("#actionModal").modal("show"); // jeżeli chcesz pokazać modal
        });
    });
</script>
